apiVersion: apps/v1
kind: Deployment
metadata:
  name: internal-web-app
  labels:
    app: hello-world
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      # This secret allows K8s to log into your registry.cybr.huydo.net
      imagePullSecrets:
        - name: cybr-registry-key
      containers:
      - name: web-container
        image: registry.cybr.huydo.net/internal-web-app:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: internal-web-service
spec:
  type: NodePort
  selector:
    app: hello-world
  ports:
    - port: 80
      targetPort: 80
      nodePort: 31080 # Access via http://<K8s-Node-IP>:30080
